<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1> Sign Up </h1>


	<form action="/signup" method="POST">
		Email: <input type="text" name="username" /> <br>
		Password: <input type="Password" name="password"><br>

		<input type="submit" name="submit" value="Signup"/>
	</form>
</body>
</html>