<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1> Signin </h1>


	<form action="/login" method="POST">
		Email: <input type="text" name="username" /> <br>
		Password: <input type="Password" name="password"><br>

		<input type="submit" name="submit" value="Sign In"/>
	</form>
</body>
</html>